language: go

go:
  - "1.11.x"
  - master

before_install:
  - go get -t -v ./...

after_success:
  - bash <(curl -s https://codecov.io/bash)

script:
  - go test -race -coverprofile=coverage.txt -covermode=atomic
